<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Responsive Admin Dashboard Template" />
    <meta name="keywords" content="admin,dashboard" />
    <meta name="author" content="stacks" />
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Login - CGT Ds Smith</title>

    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet"
    />
    {{ encore_entry_link_tags('bo_bootstrap_css') }}
    {{ encore_entry_link_tags('bo_perfect_scrollbar_css') }}
    {{ encore_entry_link_tags('bo_pace_css') }}

    <!-- Theme Styles -->
    {{ encore_entry_link_tags('bo_main_css') }}
    {{ encore_entry_link_tags('bo_horizontal_menu_css') }}
    {{ encore_entry_link_tags('bo_custom_css') }}

    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="#"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="#"
    />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div
    class="
        app
        horizontal-menu
        app-auth-sign-in
        align-content-stretch
        d-flex
        flex-wrap
        justify-content-end
      "
>
    <div class="app-auth-background"></div>
    <div class="app-auth-container">
        <div class="logo">
            <a href="{{ path('home_page') }}"></a>
        </div>
        <p class="auth-description">
            Veuillez vous connecter à votre compte.<br />Vous avez besoin de créer un compte ? <a href="{{ path('home_page') }}#contact-us-form">contactez nous</a>
        </p>
            <form method="post">
        <div class="auth-credentials m-b-xxl">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
                <label for="inputEmail" class="form-label">Adresse e-mail</label>
                <input
                    type="email"
                    class="form-control m-b-md"
                    name="email" id="inputEmail"
                    value="{{ last_username }}"
                    placeholder="example@gmail.com"
                />

                <label for="inputPassword" class="form-label">Mot de passe</label>
                <input
                    type="password"
                    class="form-control"
                    name="password" id="inputPassword"
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                />

        </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="auth-submit">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
        {#            <a href="#" class="auth-forgot-password float-end"#}
        {#            >Forgot password?</a#}
        {#            >#}
                </div>
            </form>
    </div>
</div>

<!-- Javascripts -->
{{ encore_entry_script_tags('bo_jquery_js') }}
{{ encore_entry_script_tags('bo_bootstrap_js') }}
{{ encore_entry_script_tags('bo_perfect_scrollbar_js') }}
{{ encore_entry_script_tags('bo_pace_js') }}
{{ encore_entry_script_tags('bo_main_js') }}
{{ encore_entry_script_tags('bo_custom_js') }}
</body>
</html>
