/* Your Custom CSS Goes here */

.app-header .navbar .navbar-nav > li > a.active::after {
  background: #f03e3e !important;
}

.header-colorful .app-header .navbar {
  background-color: #f03e3e important;
}

.page-item.active .page-link {
  color: #f03e3e;
}

.horizontal-menu .app-header {
  background-color: #f03e3e !important;
}

.horizontal-menu .app-menu .menu-list > li > a:hover,
.horizontal-menu .app-menu .menu-list > li:hover > a,
.horizontal-menu .app-menu .menu-list > li > a.active,
.horizontal-menu .app-menu .menu-list > li.active-page > a {
  color: #f03e3e !important;
}

.app-auth-container .logo a {
  background: url(../images/logo_cgt.png) no-repeat;
  background-size: 125px;
}

/* login page */
.btn-primary {
  color: #fff;
  border-color: #f03e3e;
  background-color: #f03e3e;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  border-color: #9b2b2b;
  background-color: #9b2b2b !important;
}

a {
  color: #f03e3e;
}

.form-control:focus {
  border-color: #f03e3e;
  box-shadow: none;
}

.app-auth-sign-in .app-auth-background {
  background: url(../images/backgrounds/login_image_cgt.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
