{% extends 'admin/base.html.twig' %}

{% block style %}
    <style>
        .app-content .page-description {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="page-description d-flex align-items-center">
                <div class="page-description-content flex-grow-1">
                    <h1>Création d'un document</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{ form_start(documentForm, {'attr': {'class': 'row g-3'}}) }}
        <div class="col-md-12">
            <label for="title" class="form-label">Titre</label>
            {{ form_widget(documentForm.title) }}
        </div>
        <div class="col-12">
            <label class="form-label" for="category">Categorie</label>
            {{ form_widget(documentForm.category) }}
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Fichier</label>
            {{ form_widget(documentForm.file) }}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Créer</button>
        </div>
        {{ form_end(documentForm) }}
    </div>
{% endblock %}
