{% extends 'admin/base.html.twig' %}

{% block style %}
    <style>
        .app-content .page-description {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="page-description d-flex align-items-center">
                <div class="page-description-content flex-grow-1">
                    <h1>Modification de la page des activités sociales </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
