<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./assets/img/favicon-cgt.png" />
  <title>Cgt ds smith</title>
  {{ encore_entry_link_tags('plugins_css') }}
  {{ encore_entry_link_tags('style_css') }}
  {{ encore_entry_link_tags('color_css') }}
{#  <link rel="stylesheet" href="{{ asset('build/plugins.css') }}" />#}
{#  <link rel="stylesheet" href="{{ asset('build/style.css') }}" />#}
{#  <link rel="stylesheet" href="{{ asset('build/red.css') }}" />#}
{#  <link rel="stylesheet" href="./assets/css/cgt.css" />#}
  <link
    rel="preload"
    href="{{ preload(asset('build/thicccboi_font.css')) }}"
    as="style"
    onload="this.rel='stylesheet'"
  />

  {% block style %}{% endblock %}
</head>

<body>
<div class="content-wrapper">
  <header class="wrapper {% if app.request.attributes.get('_route') == 'cs2e' %}bg-gray{% else %}bg-light{% endif %}">
    <div class="bg-red text-white fw-bold fs-15 mb-2">
      <div class="container py-2 d-md-flex flex-md-row">
        <div class="d-flex flex-row align-items-center">
          <div class="icon text-white fs-22 mt-1 me-2">
            <i class="uil uil-location-pin-alt"></i>
          </div>
          <address class="mb-0">
            10 rue Auguste BONAMY 60130 St Just en Chaussée
          </address>
        </div>
        <div class="d-flex flex-row align-items-center me-6 ms-auto">
          <div class="icon text-white fs-22 mt-1 me-2">
            <i class="uil uil-phone-volume"></i>
          </div>
          <p class="mb-0">06 01 86 94 28</p>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div class="icon text-white fs-22 mt-1 me-2">
            <i class="uil uil-message"></i>
          </div>
          <p class="mb-0">
            <a
              href="mailto:cgtdssmith60@outlook.fr"
              class="link-white hover"
            >cgtdssmith60@outlook.fr</a
            >
          </p>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <nav
      class="navbar navbar-expand-lg center-nav transparent navbar-light"
    >
      <div class="container flex-lg-row flex-nowrap align-items-center">
        <div class="navbar-brand w-100">
          <a href="{{ path('home_page') }}">
            <img
              src="{{ asset('build/front/images/logo_cgt.png') }}"
              srcset="{{ asset('build/front/images/logo_cgt@2x.png') }} 2x"
              alt=""
            />
          </a>
        </div>
        <div class="navbar-collapse offcanvas-nav">
          <div class="offcanvas-header d-lg-none d-xl-none">
            <a href="{{ path('home_page') }}"
            ><img
                src="{{ asset('build/front/images/logo_cgt.png') }}"
                srcset="{{ asset('build/front/images/logo_cgt@2x.png') }} 2x"
                alt=""
              /></a>
            <button
              type="button"
              class="
                    btn-close btn-close-white
                    offcanvas-close offcanvas-nav-close
                  "
              aria-label="Close"
            ></button>
          </div>
          <ul class="navbar-nav">
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="{{ path('home_page') }}">Acceuil</a>#}
{#            </li>#}
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{ path('syndicat_page') }}">Le
                      syndicat</a>
                  <ul class="dropdown-menu">
                      <li class="nav-item"><a class="dropdown-item" href="{{ path('publications_cgt') }}">Publications CGT</a></li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ path('filpac') }}">La FILPAC</a>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{ path('cs2e') }}">Le CS2E</a>
                  <ul class="dropdown-menu">
                      <li class="nav-item"><a class="dropdown-item" href="{{ path('social_activities_page') }}">Les Activités Sociales</a>
                      </li>
                      <li class="nav-item"><a class="dropdown-item" href="{{ path('questions_cgt_to_cs2e') }}">Questions
                              CGT au CS2E</a></li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ path('bulletin_info') }}"
                  >Les Bulletins CGT</a
                  >
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle">Plus</a>
                  <ul class="dropdown-menu">
                      <li class="nav-item"><a class="dropdown-item" href="{{ path('pp_page') }}">La PP</a>
                      </li>
                      <li class="nav-item"><a class="dropdown-item" href="{{ path('cc_page') }}">Les conventions collectives</a></li>
                  </ul>
              </li>
{#              <li class="nav-item">#}
{#                  <a class="nav-link" href="{{ path('pp_page') }}">La PP</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                  <a class="nav-link" href="{{ path('pp_page') }}">Les conventions collectives</a>#}
{#              </li>#}
            <li class="nav-item">
              <a class="nav-link" href="{% if is_granted('ROLE_ADMIN') %}{{ path('admin_dashoard') }}{% else %}{{ path('app_login') }}{% endif %}">Espace personnel</a>
            </li>
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="#!">La PP</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="#!">Les Conventions Collectives</a>#}
{#            </li>#}
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-other w-100 d-flex ms-auto">
          <ul
            class="navbar-nav flex-row align-items-center ms-auto"
            data-sm-skip="true"
          >
            <li class="nav-item d-none d-md-block">
              <a target="_blank"
                href="https://www.cgt.fr/"
                class="btn btn-sm btn-primary rounded"
              >LA CGT</a
              >
            </li>
            <li class="nav-item d-lg-none">
              <div class="navbar-hamburger">
                <button
                  class="hamburger animate plain"
                  data-toggle="offcanvas-nav"
                >
                  <span></span>
                </button>
              </div>
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-other -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
  </header>
  <!-- /header -->
  {% block content %}{% endblock %}

</div>
<!-- /.content-wrapper -->
<footer class="bg-dark text-inverse">
  <div class="container py-13 py-md-6">
    <!--/.row -->
    <div class="d-md-flex align-items-center justify-content-between">
      <p class="mb-2 mb-lg-0">
        Cgtdssmith60.fr © 2021. Tous droits réservés.
      </p>
      <p class="mb-0 text-md-end">
        Made with <i class="uil uil-heart text-primary"></i> by
        <a href="https://www.linkedin.com/in/slimane-achbouq/"
        ><span class="underline-2 red">Slimane</span></a
        >
      </p>
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</footer>
<div class="progress-wrap">
  <svg
    class="progress-circle svg-content"
    width="100%"
    height="100%"
    viewBox="-1 -1 102 102"
  >
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
></script>

{#{{ encore_entry_script_tags('plugins_js') }}#}
<script src="{{ asset('build/front/js/plugins/plugins.js') }}"></script>
{{ encore_entry_script_tags('theme_js') }}
{#<script src="{{ asset('build/theme.js') }}"></script>#}
{% block script %}{% endblock %}
</body>
</html>
