{% extends 'front/base.html.twig' %}

{% block style %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
    <section class="wrapper bg-light">
        <div class="container pb-14">
            <div class="row">
                <div class="col-xl-10 mx-auto mt-11">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-icon alert-dismissible fade show" role="alert">
                            <i class="uil uil-check-circle"></i> {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    <h2 class="display-4 mb-3 text-center">Le bulletin d'adhésion</h2>
                    <p class="lead text-center mb-10">
                        There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form, by
                        injected humour, or randomised words which don't look even
                        <span class="underline">slightly believable.</span>
                    </p>

                    <div class="row gy-10 gx-lg-8 gx-xl-12">
                        <div class="col-lg-12">
                            {{ form_start(memberShipRequestForm, {'attr': {'class': 'contact-form'}}) }}
                                <div class="messages"></div>
                                <div class="row gx-4">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.lastName, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                                            <label for="form_name">Nom *</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre nom.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.firstName, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
{#                                            <input#}
{#                                                id="form_lastname"#}
{#                                                type="text"#}
{#                                                name="surname"#}
{#                                                class="form-control"#}
{#                                                placeholder="Doe"#}
{#                                                required#}
{#                                            />#}
                                            <label for="form_lastname">Prénom *</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre prénom.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.birthday, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
{#                                            <input#}
{#                                                id="form_birthday"#}
{#                                                type="date"#}
{#                                                name="birthday"#}
{#                                                class="form-control"#}
{#                                                placeholder="Doe"#}
{#                                                required#}
{#                                            />#}
                                            <label for="form_birthday">Date de Naissance *</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre date de naissance.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.professionalCategory, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
{#                                            <input#}
{#                                                id="form_category_pro"#}
{#                                                type="text"#}
{#                                                name="surname"#}
{#                                                class="form-control"#}
{#                                                placeholder="Doe"#}
{#                                                required#}
{#                                            />#}
                                            <label for="form_category_pro"
                                            >Catégorie Professionnelle *</label
                                            >
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre catégorie Professionnelle.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-12">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.address, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
{#                                            <input#}
{#                                                id="form_email"#}
{#                                                type="text"#}
{#                                                name="adresse"#}
{#                                                class="form-control"#}
{#                                                placeholder="Adresse personnelle"#}
{#                                                required#}
{#                                            />#}
                                            <label for="form_adresse"
                                            >Adresse personnelle *</label
                                            >
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre adresse personnelle.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.cp, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
{#                                            <input#}
{#                                                id="form_cp"#}
{#                                                type="text"#}
{#                                                name="name"#}
{#                                                class="form-control"#}
{#                                                placeholder="CP"#}
{#                                                required#}
{#                                            />#}
                                            <label for="form_cp">CP *</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre CP.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.city, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
{#                                            <input#}
{#                                                id="form_ville"#}
{#                                                type="text"#}
{#                                                name="ville"#}
{#                                                class="form-control"#}
{#                                                placeholder="Ville"#}
{#                                                required#}
{#                                            />#}
                                            <label for="form_lastname">Ville *</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre ville.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-12">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.phone, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
{#                                            <input#}
{#                                                id="form_phone"#}
{#                                                type="text"#}
{#                                                name="phone"#}
{#                                                class="form-control"#}
{#                                                placeholder="Téléphone"#}
{#                                                required#}
{#                                            />#}
                                            <label for="form_phone">Téléphone *</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre numéro de téléphone.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-12">
                                        <div class="form-floating mb-4">
                                            {{ form_widget(memberShipRequestForm.email, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
{#                                            <input#}
{#                                                id="form_email"#}
{#                                                type="email"#}
{#                                                name="email"#}
{#                                                class="form-control"#}
{#                                                placeholder="jane.doe@example.com"#}
{#                                                required#}
{#                                            />#}
                                            <label for="form_email">Email *</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Veuillez entrer votre email.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /column -->
{#                                    <div class="col-12">#}
{#                                        <div class="form-check mb-4">#}
{#                                            <input#}
{#                                                class="form-check-input"#}
{#                                                type="checkbox"#}
{#                                                value=""#}
{#                                                id="invalidCheck"#}
{#                                                required#}
{#                                            />#}
{#                                            <label class="form-check-label" for="invalidCheck">#}
{#                                                I agree to#}
{#                                                <a href="#" class="hover">terms and policy</a>.#}
{#                                            </label>#}
{#                                            <div class="invalid-feedback">#}
{#                                                You must agree before submitting.#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!-- /column -->#}
                                    <div class="col-12">
                                        <input
                                            type="submit"
                                            class="btn btn-primary rounded-pill btn-send mb-3"
                                            value="Télécharger"
                                        />
                                        <p class="text-muted">
                                            <strong>*</strong> Champ obligatoire.
                                        </p>
                                    </div>
                                    <!-- /column -->
                                </div>
                                <!-- /.row -->
                            {{ form_end(memberShipRequestForm) }}
                            <!-- /form -->
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /section -->
{% endblock %}

{% block script %}
    {{ encore_entry_script_tags('subscription_js') }}
{% endblock %}
