{% extends 'front/base.html.twig' %}

{% block content %}
    <section class="wrapper bg-gray">
        <div class="container pt-10 pt-md-14 text-center">
            <div class="row">
                <div class="col-xl-12 mx-auto">
                    <h1 class="display-1 mb-4">VOS ÉLU.ES CGT DS SMITH ST JUST</h1>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <figure class="position-absoute" style="bottom: 0; left: 0; z-index: 2">
            <img src="{{ asset('build/front/images/photos/bg12-cgt.png') }}" alt="" />
        </figure>
    </section>
    <!-- /section -->
    <section class="wrapper bg-light angled upper-end">
        <div class="container pt-5 pb-8 pt-md-12 pb-md-4 text-center">
            <div class="row">
                <div class="col-12">
                    <p class="lead px-lg-7 px-xl-7 px-xxl-6">
                        le CSE comprend l'employeur et une délégation du personnel. La
                        délégation du personnel comporte un nombre égal de titulaires et
                        de suppléants pour nous, il y aura 11 titulaires et 11
                        suppléants, 8 élu.es au 1er collège, 2 élu.es au 2ème collège et
                        1 élu.e au 3ème collège. Le suppléant assiste aux réunions qu’en
                        l'absence du titulaire, la direction de Puteaux refusant leur
                        présence systématique. Dans les entreprises de moins de 300
                        salariés, le délégué syndical est membre de droit du CSE. Dans
                        les entreprises de plus de 300 salariés, chaque organisation
                        syndicale représentative dans l'entreprise ou l'établissement
                        peut désigner un délégué pour siéger au sein du CSE. Le médecin
                        du travail et le responsable interne du service de sécurité
                        assistent aux réunions du CSE relatives à la santé, la sécurité
                        et les conditions de travail Il y aura aussi un référent en
                        matière de lutte contre le harcèlement sexuel et les agissements
                        sexistes. Elle ou il bénéficiera d’un crédit de 4 heures par
                        mois pour l’exercice de son mandat.
                    </p>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container py-6 py-md-8">
            <div class="row mb-3">
                <div
                    class="
                col-md-10 col-lg-12 col-xl-10 col-xxl-9
                mx-auto
                text-center
              "
                >
                    <h3 class="display-4 mb-7 px-lg-19 px-xl-18">
                        Les élu.es Titulaires CGT
                    </h3>
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
            <div class="row gx-md-8 gx-xl-10 gy-8 gy-lg-0 text-center">
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/1-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/1-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">David DAGNIAUX</h4>
                        <div class="meta mb-2">Conducteur 922</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/2-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/2-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Rose-Marie LECLERCQ</h4>
                        <div class="meta mb-2">Logistique</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/3-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/3-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Cédrick LAPARLIERE</h4>
                        <div class="meta mb-2">Conducteur 616</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/4-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/4-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Laurent BONNAY</h4>
                        <div class="meta mb-2">Conducteur Mastercut</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/5-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/5-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Claude BAROUX</h4>
                        <div class="meta mb-2">Conducteur 1604</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/6-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/6-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Claude EDELMANN</h4>
                        <div class="meta mb-2">Bureau d'étude</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
        <div class="container py-6 py-md-8">
            <div class="row mb-3">
                <div
                    class="
                col-md-10 col-lg-12 col-xl-10 col-xxl-9
                mx-auto
                text-center
              "
                >
                    <h3 class="display-4 mb-7 px-lg-19 px-xl-18">
                        Les élu.es Suppléants CGT
                    </h3>
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
            <div
                class="
              row
              gx-md-8 gx-xl-10
              gy-8 gy-lg-0
              text-center
              justify-content-md-center
            "
            >
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/7-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/7-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Landry DAVAILLE</h4>
                        <div class="meta mb-2">Conducteur Plieuse/colleuse</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/8-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/8-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Freddy ANSELLE</h4>
                        <div class="meta mb-2">Cariste expédition</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/9-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/9-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Frédéric BAROUX</h4>
                        <div class="meta mb-2">Planificateur MO</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/10-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/10-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Olivier MAILLARD</h4>
                        <div class="meta mb-2">Conducteur 616</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-2">
                    <div class="item">
                        <img
                            class="rounded-circle w-17 mx-auto mb-4"
                            src="{{ asset('build/front/images/avatars/11-cgt.png') }}"
                            srcset="{{ asset('build/front/images/avatars/11-cgt.png') }} 2x"
                            alt=""
                        />
                        <h4 class="mb-1">Grégoire DUBUS</h4>
                        <div class="meta mb-2">Conducteur 616</div>
                    </div>
                    <!-- /.item -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
{% endblock %}
