{% extends 'front/base.html.twig' %}

{% block content %}
  <section class="wrapper bg-light">
    <div
      class="container pt-11 pt-md-13 pb-11 pb-md-19 pb-lg-22 text-center"
    >
      <div class="row">
        <div
          class="col-lg-10 col-xl-10 col-xxl-10 mx-auto"
          data-cues="slideInDown"
          data-group="page-title"
        >
          <h1 class="display-1 fs-60 mb-4 px-md-15 px-lg-0">
            BIENVENUE SUR LE SITE DE LA CGT DS SMITH ST JUST
          </h1>
          <p class="lead fs-24 lh-sm mb-7 mx-md-13 mx-lg-10">
            Nous sommes heureux de votre visite sur notre site. Notre
            volonté est de mettre à votre disposition toutes les
            informations qui peuvent vous être utiles mais aussi qui vous
            puissiez lire à tête reposé l'ensemble de nos communications.
            Biensur il sera amélioré et alimenté au fur et à mesure du temps
            par les camarades.
          </p>
          <div
            data-cues="slideInDown"
            data-group="page-title-buttons"
            data-delay="900"
          >
                <span
                ><a     target="_blank"
                        href="https://www.egalite-professionnelle.cgt.fr/" class="btn btn-lg btn-primary me-"
                  >Gagnons l'égalité professionnelle</a
                  ></span
                >
            <span
            ><a
                href="https://www.cgtdssmith60.fr/ws/media-library/1aca7a366eff447193432e8f4cde87e8/guidecgtviolencessexistessexuelles.pdf"
                class="btn btn-lg btn-outline-primary mt-4 mt-md-0"
              >Guide Cgt Violences Sexistes Sexuelles</a
              ></span
            >
          </div>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
  <section class="wrapper bg-dark">
    <div class="container py-14 py-md-16">
      <figure
        class="rounded mt-md-n21 mt-lg-n23 mb-14 mt-n16"
        data-cue="slideInDown"
        data-delay="900"
      >
        <img
          src="{{ asset('build/front/images/photos/home_cgt.jpg') }}"
          srcset="{{ asset('build/front/images/photos/home_cgt.jpg') }} 2x"
          alt=""
        />
      </figure>
      <!-- /.container-fluid -->
      <div class="container">
        <div class="row gx-0 gy-10 align-items-center">
          <div
            class="col-lg-6"
            data-cues="slideInDown"
            data-group="page-title"
            data-delay="600"
          >
            <h1 class="display-1 text-white mb-4">
              Le délégué syndical cet<br/><span
                class="typer text-primary text-nowrap"
                data-delay="160"
                data-words="INCONNU!"
              ></span
              ><span class="cursor text-primary" data-owner="typer"></span>
            </h1>
            <div>
              <div
                class="
                      d-flex
                      justify-content-center justify-content-lg-start
                    "
                data-cues="slideInDown"
                data-group="page-title-buttons"
                data-delay="900"
              >
                    <span
                    ><a
                            target="_blank"
                        href="https://www.filpac-cgt.fr/"
                        class="btn btn-lg btn-primary rounded me-2"
                      >LA FILPAC-CGT</a
                      ></span
                    >
                <span
                ><a
                        target="_blank"
                    href="https://ulcgtclermontplateaupicard60.fr/"
                    class="btn btn-lg btn-outline-primary rounded"
                  >L'UNION LOCALE</a
                  ></span
                >
              </div>
            </div>
          </div>
          <!-- /column -->
          <div class="col-lg-6" data-cues="slideInDown">
            <div class="position-relative light-gallery-wrapper">
              <div
                class="player"
                data-plyr-provider="youtube"
                data-plyr-embed-id="s4ADdV-HxIw"
              ></div>
            </div>
            <!-- /div -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->

  <section class="wrapper bg-light" id="contact-us-form">
    <div class="container py-14 py-md-17">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <h2 class="display-4 mb-3 text-center">Formulaire de contact</h2>
          <p class="lead text-center mb-10">
            Vous pouvez nous contacter via ce formulaire, vos représentants
            CGT DS Smith St Just s'engage à vous répondre
            <span class="underline">en moins de 48h.</span>
          </p>

          <div class="row gy-10 gx-lg-8 gx-xl-12">
            <div class="col-lg-8">
              <form
                class="contact-form needs-validation"
                method="post"
                novalidate
              >
                <div class="messages"></div>
                <div class="row gx-4">
                  <div class="col-md-6">
                    <div class="form-floating mb-4">
                      <input
                        id="form_name"
                        type="text"
                        name="name"
                        class="form-control"
                        placeholder="Jane"
                        required
                      />
                      <label for="form_name">Prénom *</label>
                      <div class="valid-feedback">Cela semble bon!</div>
                      <div class="invalid-feedback">
                          Entrez votre prénom s'il vous plait.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-md-6">
                    <div class="form-floating mb-4">
                      <input
                        id="form_lastname"
                        type="text"
                        name="surname"
                        class="form-control"
                        placeholder="Doe"
                        required
                      />
                      <label for="form_lastname">Nom *</label>
                      <div class="valid-feedback">Cela semble bon!</div>
                      <div class="invalid-feedback">
                          Entrez votre nom s'il vous plait.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-12">
                    <div class="form-floating mb-4">
                      <input
                        id="form_email"
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="jane.doe@example.com"
                        required
                      />
                      <label for="form_email">E-mail *</label>
                      <div class="valid-feedback">Cela semble bon!</div>
                      <div class="invalid-feedback">
                          Entrez votre e-mail s'il vous plait.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-12">
                    <div class="form-floating mb-4">
                          <textarea
                            id="form_message"
                            name="message"
                            class="form-control"
                            placeholder="Your message"
                            style="height: 150px"
                            required
                          ></textarea>
                      <label for="form_message">Message *</label>
                      <div class="valid-feedback">Cela semble bon!</div>
                      <div class="invalid-feedback">
                          Entrez votre message s'il vous plait.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
{#                  <div class="col-12">#}
{#                    <div class="form-check mb-4">#}
{#                      <input#}
{#                        class="form-check-input"#}
{#                        type="checkbox"#}
{#                        value=""#}
{#                        id="invalidCheck"#}
{#                        required#}
{#                      />#}
{#                      <label class="form-check-label" for="invalidCheck">#}
{#                        I agree to#}
{#                        <a href="#" class="hover">terms and policy</a>.#}
{#                      </label>#}
{#                      <div class="invalid-feedback">#}
{#                        You must agree before submitting.#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <!-- /column -->#}
                  <div class="col-12">
                    <input
                      type="submit"
                      class="btn btn-primary rounded-pill btn-send mb-3"
                      value="Envoyer le message"
                    />
                    <p class="text-muted">
                      <strong>*</strong> Ces champs sont obligatoires.
                    </p>
                  </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
              </form>
              <!-- /form -->
            </div>
            <!--/column -->
            <div class="col-lg-4">
              <div class="d-flex flex-row">
                <div>
                  <div class="icon text-primary fs-28 me-4 mt-n1">
                    <i class="uil uil-location-pin-alt"></i>
                  </div>
                </div>
                <div>
                  <h5 class="mb-1">Address</h5>
                  <address>
                    10 rue Auguste BONAMY 60130 St Just en Chaussée.
                  </address>
                </div>
              </div>
              <div class="d-flex flex-row">
                <div>
                  <div class="icon text-primary fs-28 me-4 mt-n1">
                    <i class="uil uil-phone-volume"></i>
                  </div>
                </div>
                <div>
                  <h5 class="mb-1">Phone</h5>
                  <p>06 01 86 94 28</p>
                </div>
              </div>
              <div class="d-flex flex-row">
                <div>
                  <div class="icon text-primary fs-28 me-4 mt-n1">
                    <i class="uil uil-envelope"></i>
                  </div>
                </div>
                <div>
                  <h5 class="mb-1">E-mail</h5>
                  <p>
                    <a
                      href="mailto:cgtdssmith60@outlook.fr"
                      class="link-body"
                    >cgtdssmith60@outlook.fr</a
                    >
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row">
                <div>
                  <div class="icon text-primary fs-28 me-4 mt-n1">
                    <i class="uil uil-clock"></i>
                  </div>
                </div>
                <div>
                  <p class="mb-0">
                    La permanence CGT DS Smith St Just est ouverte tous
                    <span class="underline"
                    >les mardis de 12h30 à 13h30</span
                    >.
                  </p>
                </div>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
  </section>

  <!-- /section -->
  <section class="wrapper bg-light">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyARNP6PBrYdKNmsYf09tU8jRnffQb-sFQg&q=10+rue+Auguste+Bonamy+60130+Saint+Just+en+Chauss%C3%A9e"
        style="width: 100%; height: 500px; border: 0"
        allowfullscreen
      ></iframe>
    </div>
    <!-- /.map -->
  </section>
  <!-- /section -->
{% endblock %}
