{% extends 'front/base.html.twig' %}

{% block content %}
    <section class="wrapper">
        <div
            class="container pt-10 pb-2 pt-md-14 text-center"
        >
            <div class="row">
                <div
                    class="col-lg-10 col-xl-10 col-xxl-10 mx-auto"
                    data-cues="slideInDown"
                    data-group="page-title"
                >
                    <h1 class="display-1 mb-4 px-md-15 px-lg-0">
                        LA PRIME DE PERFORMENCE
                    </h1>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            {% if image and image.imageName %}
                <div class="row mt-12">
                    <div class="col-lg-8 mx-auto">
                        <figure><img class="img-fluid" src="{{ asset('upload/images/' ~ image.imageName) }}" srcset="{{ asset('upload/images/' ~ image.imageName) }} 2x" alt=""></figure>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            {% endif %}
        </div>
    </section>
    <section class="wrapper bg-light">
        <div class="container py-10 py-md-12">
            <div class="row">
                <div class="col-xl-10 col-xxl-9 mx-auto">
                    <div
                        class="
                  row
                  align-items-center
                  justify-content-center
                  counter-wrapper
                  gy-6
                "
                    >
                        {% for doc in documents %}
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-row align-items-center">
                                            <div>
                                                <a
                                                    href="{{ asset('upload/document/files/' ~ doc.fileName) }}"
                                                    class="
                                      icon
                                      btn btn-circle btn-lg btn-soft-red
                                      mx-auto
                                      me-4
                                      mb-lg-3 mb-xl-0
                                    "
                                                >
                                                    <i class="uil uil-file-download-alt"></i>
                                                </a>
                                            </div>
                                            <div>
                                                <h3 class="counter mb-1">
                                                    {{ doc.title }}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.card-body -->
                                </div>
                                <!--/.card -->
                            </div>
                            <!--/column -->
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
{% endblock %}
