{% extends 'front/base.html.twig' %}

{% block style %}
  <style>
    .cgt-article-footer-text {
      font-size: 1rem;
    }
    #img-article-cgt {
      float: left;
      margin: 5px;
      max-width: 200px;
    }
    #p-article-cgt {
      text-align: justify;
    }
    @media (min-width: 768px) {
      #img-article-cgt {
        float: left;
          margin: 5px 8px 5px 5px;
          max-width: 300px;
      }
      #p-article-cgt {
        text-align: justify;
      }
    }

    @media (min-width: 992px) {
      #img-article-cgt {
        float: left;
        margin: 5px 10px 5px 5px;
        max-width: 450px;
      }
      #p-article-cgt {
        text-align: justify;
      }
    }
  </style>
{% endblock %}

{% block content %}
  <section class="wrapper">
    <div class="container pt-10 pb-2 pt-md-14 text-center">
      <div class="row">
        <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto mb-5">
          <h1 class="display-1 mb-1">PUBLICATIONS CGT</h1>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <section class="wrapper bg-light mt-6">
    <div class="container pb-14 pb-md-9">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <!-- /.blog -->
          <div class="blog grid grid-view">
            <div class="row isotope gx-md-8 gy-8 mb-8">
                {% for article in articles %}
                  <article class="item post col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="post-header" style="text-align: center">
                          <!-- /.post-category -->
                          <h2 class="post-title h2 mb-3 link-">
                              {{ article.title|upper }}
                          </h2>
                        </div>
                        <!-- /.post-header -->
                        <div class="post-content">
                          <img
                            id="img-article-cgt"
                            src="{{ asset('upload/service/images/' ~ article.imageName) }}"
                            alt=""
                          />
                          <p id="p-article-cgt ml-2">
                            {{ article.description|raw }}
                          </p>
                        </div>
                        <!-- /.post-content -->
                      </div>
                      <!--/.card-body -->
                      <div class="card-footer">
                        <ul class="post-meta d-flex mb-0">
                          <li class="post-date cgt-article-footer-text">
                            <i class="uil uil-calendar-alt"></i
                            ><span>{{ article.createdAt|date("d/m/Y") }}</span>
                          </li>
                          <li
                            class="post-likes ms-auto cgt-article-footer-text"
                          >
                            <a href="{{ asset('upload/service/docs/' ~ article.fileName) }}"
                            ><i class="uil uil-file-download-alt"></i>Lire
                              plus</a
                            >
                          </li>
                        </ul>
                        <!-- /.post-meta -->
                      </div>
                      <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                  </article>
                  <!-- /.post -->
                {% endfor %}
            </div>
            <!-- /.row -->
          </div>
          <!-- /.blog -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
{% endblock %}
