{% extends 'front/base.html.twig' %}

{% block content %}
    <section class="wrapper">
        <div class="container pt-10 pb-2 pt-md-14 text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-1 mb-1">LES ACTIVITÉS SOCIALES & CULTURELLES</h1>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <section class="wrapper bg-light mt-6">
        <div class="container pb-14 pb-md-9">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <!-- /.blog -->
                    <div class="blog grid grid-view">
                        <div class="row isotope gx-md-8 gy-8 mb-8">
                        {{ page.content|raw }}
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.blog -->
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
{% endblock %}
