{% extends 'front/base.html.twig' %}

{% block content %}
    <section class="wrapper bg-light">
        <div class="container py-14 py-md-17">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                <div class="col-lg-6">
                    <figure>
                        <img
                            class="w-auto"
                            src="{{ asset('build/front/images/concept/porte_ouverte_cgt.png') }}"
                            srcset="{{ asset('build/front/images/concept/porte_ouverte_cgt.png') }} 2x"
                            alt=""
                        />
                    </figure>
                </div>
                <!--/column -->
                <div class="col-lg-6">
                    <h2 class="display-4 mb-3">Un syndicat, ça sert à quoi ?</h2>
                    <div class="accordion accordion-wrapper" id="accordionExample-2">
                        <div class="card plain accordion-item">
                            <div class="card-header" id="headingOne-2">
                                <button
                                    class="accordion-button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne-2"
                                    aria-expanded="true"
                                    aria-controls="collapseOne-2"
                                >
                                    Quel intérêt?
                                </button>
                            </div>
                            <!--/.card-header -->
                            <div
                                id="collapseOne-2"
                                class="accordion-collapse collapse show"
                                aria-labelledby="headingOne-2"
                                data-bs-parent="#accordionExample-2"
                            >
                                <div class="card-body">
                                    <p>
                                        Les syndicats assurent la défense collective et
                                        individuelle des intérêts des salariés, au niveau
                                        national et à l'échelle de l'entreprise.
                                    </p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.accordion-collapse -->
                        </div>
                        <!--/.accordion-item -->
                        <div class="card plain accordion-item">
                            <div class="card-header" id="headingTwo-2">
                                <button
                                    class="collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo-2"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo-2"
                                >
                                    Qu'est ce qu'un syndicat et quel est son rôle ?
                                </button>
                            </div>
                            <!--/.card-header -->
                            <div
                                id="collapseTwo-2"
                                class="accordion-collapse collapse"
                                aria-labelledby="headingTwo-2"
                                data-bs-parent="#accordionExample-2"
                            >
                                <div class="card-body">
                                    <p>
                                        Les syndicats ou associations professionnels regroupent
                                        des personnes exerçant la même profession, des métiers
                                        similaires ou connexes et ils ont pour objet exclusif
                                        l'étude et la défense des droits, ainsi que des intérêts
                                        matériels et moraux, collectifs et individuels des
                                        personnes visées par leurs statuts.
                                    </p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.accordion-collapse -->
                        </div>
                        <!--/.accordion-item -->
                        <div class="card plain accordion-item">
                            <div class="card-header" id="headingThree-2">
                                <button
                                    class="collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree-2"
                                    aria-expanded="false"
                                    aria-controls="collapseThree-2"
                                >
                                    Pourquoi adhérer à un syndicat ?
                                </button>
                            </div>
                            <!--/.card-header -->
                            <div
                                id="collapseThree-2"
                                class="accordion-collapse collapse"
                                aria-labelledby="headingThree-2"
                                data-bs-parent="#accordionExample-2"
                            >
                                <div class="card-body">
                                    <p>
                                        Reconnu par la Loi, le syndicat a pour mission de
                                        représenter ses adhérents et de les défendre comme
                                        l'ensemble des personnels. Il est un « contre-pouvoir »
                                        nécessaire pour préserver les droits des salariés. Il
                                        agit pour améliorer leurs conditions de travail et de
                                        rémunération.
                                    </p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.accordion-collapse -->
                        </div>
                        <!--/.accordion-item -->
                        <div class="card plain accordion-item">
                            <div class="card-header" id="headingFour-2">
                                <button
                                    class="collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour-2"
                                    aria-expanded="false"
                                    aria-controls="collapseFour-2"
                                >
                                    Comment fonctionne un syndicat CGT ?
                                </button>
                            </div>
                            <!--/.card-header -->
                            <div
                                id="collapseFour-2"
                                class="accordion-collapse collapse"
                                aria-labelledby="headingFour-2"
                                data-bs-parent="#accordionExample-2"
                            >
                                <div class="card-body">
                                    <p>
                                        La CGT ambitionne la participation de tous les syndiqués
                                        à la formation syndicale dès leur adhésion. La CGT
                                        propose plusieurs types et niveaux de formation, de
                                        caractère général ou spécifique, ouverts à tous les
                                        syndiqués, qu'ils aient ou non des responsabilités
                                        syndicales.
                                    </p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.accordion-collapse -->
                        </div>
                        <!--/.accordion-item -->
                    </div>
                    <!--/.accordion -->
                    <div
                        class="d-flex justify-content-center justify-content-lg-start"
                        data-cues="slideInDown"
                        data-group="page-title-buttons"
                        data-delay="10"
                    >
                <span
                ><a href="{{ path('generate_bulletin_adhesion') }}"
                    class="btn btn-lg btn-primary rounded mt-3"
                    href="bulletin_adhesion.html"
                    >Remplir le bulletin d'adhésion</a
                    ></span
                >
                    </div>
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
{% endblock %}
