{% extends 'admin/base.html.twig' %}

{% block style %}
    {{ encore_entry_link_tags('bo_datatables_css') }}
    {{ encore_entry_link_tags('bo_highlight_css') }}
{% endblock %}

{% block content %}
    <div class="row pt-2">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding-top: 25px;"></button>
            </div>
        {% endfor %}
    </div>
    <div class="section-description section-description-inline">
        <h1>Liste des demandes d'adhésion</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <table id="datatable1" class="display" style="width: 100%">
                <thead>
                <tr>
                    <th>Date de la demande</th>
                    <th>Télécharger</th>
                </tr>
                </thead>
                <tbody>
                {% for subscription in subscriptions %}
                    <tr>
                        <td>{{ subscription.createdAt|date("d/m/Y H:i:s") }}</td>
                        <td>
                            <div class="widget-connection-request-actions d-flex">
                                <a
                                    href="{{ asset('subscriptions/' ~ subscription.fileName) }}"
                                    class="btn btn-danger btn-style-light flex-grow-1"
                                    download
                                ><i class="material-icons">delete</i>Télécharger</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Date de la demande</th>
                    <th>Télécharger</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ encore_entry_script_tags('bo_popper_js') }}
    {{ encore_entry_script_tags('bo_highlight_js') }}
    {{ encore_entry_script_tags('bo_datatables_js') }}
    {{ encore_entry_script_tags('bo_datatables_page_js') }}
{% endblock %}
